body{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5c8e5b67797f74678344b0f1/1622650202362-IBZ59JGMWR50LEBNXKVM/Website%286%29.png?format=2500w);
    background-repeat: no-repeat;
    background-size: cover;
}
#signupform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30%;
    padding-right: 30%;
    height: 400px;
}
h1{
    text-align: center;
    margin-top: 80px;
    font-family: 'Licorice', cursive;
    font-weight: 1000;
    font-size: 93px;
    color:#a4223a
}
h2{
    text-align: center;
    margin-top: 10px;
    font-family: 'Licorice',;
    font-weight: 100;
    font-size: 60px;
    color:#a4223a
}
.signupsubmit{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn{
    background-color: #a4223a;
    color: azure;
    border-color: transparent;
}
  #description{
      background-color: #a4223a;
      color: wheat;
      border-radius: 0.5em;
  }
 #button-feedback{
     border-radius: 2rem;
 }
 #button-feedback:hover{
    background-color: wheat;
    color: black;
 }
 #subject{
    background-color: #a4223a;
    color: wheat;
    border-radius: 0.5em;
    width: 110px;
    padding-left: 25px;
 }